/*
 * ADWB profile - UNC Advanced Research Computing cluster
 */

env {
    RESOURCE_DIR = "/workspace/References"
    ANALYSES_DIR = "${params.project_dir}/analyses"
    GENOTYPES_DIR = "${params.project_dir}/genotypes"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'slurm'
    queue = 'general'
    container = 'gwas-pipeline'
    containerOptions = "-v ${params.reference_dir}:/workspace/References"
    
    withLabel: small {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 8
        memory = '32 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 16
        memory = '64 GB'
        time = '12h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 200
    submitRateLimit = '10 sec'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/work/users/$USER/singularity_cache'
}
