/*
 * Biowulf Local profile - for local execution on allocated Biowulf node
 */

// References are bind-mounted to /workspace/References inside the container.
// analyses_dir/genotypes_dir are profile-independent and computed in conf/params.config.
params.container_reference_dir = "/workspace/References"

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = "${params.STORE_ROOT}/Docker/long-gwas-pipeline.sif"
    maxForks = 2  // Limit parallel tasks to match your allocation
    
    withLabel: small {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    
    withLabel: large {
        cpus = 2  // Limited to prevent overload
        memory = '4 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 2
        memory = '4 GB'
        time = '12h'
    }

    withLabel: two_cpu_large_mem {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/data/$USER/singularity_cache'
    runOptions = "--bind ${projectDir} --bind ${params.reference_dir}:/workspace/References --env APPEND_PATH=${projectDir}/bin --env TMPDIR=/tmp --env XDG_RUNTIME_DIR=/tmp --cleanenv"
}
