/*
 * Biowulf Local profile - for local execution on allocated Biowulf node
 */

env {
    RESOURCE_DIR = "/workspace/References"
    OUTPUT_DIR = "${params.project_dir}/results"
    STORE_DIR = "${params.project_dir}/cache"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = "${params.STORE_ROOT}/Docker/long-gwas-pipeline.sif"
    maxForks = 2  // Limit parallel tasks to match your allocation
    
    withLabel: small {
        cpus = 2
        memory = '5 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 2
        memory = '15 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 2  // Limited to prevent overload
        memory = '50 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 2
        memory = '50 GB'
        time = '12h'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/data/$USER/singularity_cache'
    runOptions = "--bind ${projectDir} --bind ${params.reference_dir}:/workspace/References --env APPEND_PATH=${projectDir}/bin --env TMPDIR=/tmp --env XDG_RUNTIME_DIR=/tmp --cleanenv"
}
