/*
 * Biowulf profile - NIH HPC cluster configuration
 */

env {
    RESOURCE_DIR = "/workspace/References"
    OUTPUT_DIR = "${params.project_dir}/results"
    STORE_DIR = "${params.project_dir}/cache"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'slurm'
    queue = 'norm'
    clusterOptions = '--gres=lscratch:200'
    container = "${params.STORE_ROOT}/Docker/gwas-pipeline_survival.sif"
    
    withLabel: small {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 8
        memory = '32 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 16
        memory = '64 GB'
        time = '12h'
    }
}

executor {
    queueSize = 200
    submitRateLimit = '10 sec'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/data/$USER/singularity_cache'
    runOptions = "--bind ${projectDir} --bind ${params.reference_dir}:/workspace/References --env APPEND_PATH=${projectDir}/bin"
}
