/*
 * Local profile without containers - for testing on local machines with Python environment
 * Not recommended as you need to install all dependencies manually.
 */

env {
    RESOURCE_DIR = "${params.reference_dir}"
    OUTPUT_DIR = "${params.project_dir}/results"
    STORE_DIR = "${params.project_dir}/cache"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    
    withLabel: small {
        cpus = 2
        memory = '6 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 4
        memory = '12 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 6
        memory = '24 GB'
        time = '8h'
    }
}

docker {
    enabled = false
}

singularity {
    enabled = false
}
