/*
 * Local test profile - for testing on local machines with limited resources
 */

env {
    RESOURCE_DIR = "/workspace/References"
    ANALYSES_DIR = "${params.project_dir}/analyses"
    GENOTYPES_DIR = "${params.project_dir}/genotypes"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = 'longgwas-local-test'
    containerOptions = "-v ${params.reference_dir}:/workspace/References"
    
    withLabel: small {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    
    withLabel: medium {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    
    withLabel: large_mem {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    
    withLabel: very_large {
        cpus = 4
        memory = '8 GB'
        time = '6h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 4  // Limit concurrent tasks
    cpus = 4       // Total CPUs available
    memory = '8 GB' // Total memory available
}
