/*
 * Local test profile - for testing on local machines with limited resources
 */

// References are bind-mounted to /workspace/References inside the container.
// analyses_dir/genotypes_dir are profile-independent and computed in conf/params.config.
params.container_reference_dir = "/workspace/References"

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = 'longgwas-local-test'
    containerOptions = "-v ${params.reference_dir}:/workspace/References"
    
    withLabel: small {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    
    withLabel: medium {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    
    withLabel: large {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    
    withLabel: very_large {
        cpus = 4
        memory = '8 GB'
        time = '6h'
    }

    withLabel: two_cpu_large_mem {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 4  // Limit concurrent tasks
    cpus = 4       // Total CPUs available
    memory = '8 GB' // Total memory available
}
