/*
 * Standard profile - for typical HPC environments with SLURM/PBS
 */

env {
    RESOURCE_DIR = "/workspace/References"
    ANALYSES_DIR = "${params.project_dir}/analyses"
    GENOTYPES_DIR = "${params.project_dir}/genotypes"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = 'ghcr.io/hirotaka-i/long-gwas-pipeline:latest'
    containerOptions = "-v ${params.reference_dir}:/workspace/References --platform linux/amd64"
    
    withLabel: small {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    
    withLabel: large {
        cpus = 2
        memory = '4 GB'
        time = '6h'
    }
        
    withLabel: very_large {
        cpus = 4
        memory = '8 GB'
        time = '12h'
    }

    withLabel: two_cpu_large_mem {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 100
    pollInterval = '30 sec'
}
