/*
 * Standard profile - for typical HPC environments with SLURM/PBS
 */

env {
    RESOURCE_DIR = "/workspace/References"
    OUTPUT_DIR = "${params.project_dir}/results"
    STORE_DIR = "${params.project_dir}/cache"
}

workDir = "${params.project_dir}/work"

process {
    executor = 'local'
    container = 'ghcr.io/hirotaka-i/long-gwas-pipeline:0.1.0'
    containerOptions = "-v ${params.reference_dir}:/workspace/References --platform linux/amd64"
    
    withLabel: small {
        cpus = 2
        memory = '6 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 4
        memory = '12 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 4
        memory = '12 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 8
        memory = '24 GB'
        time = '12h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 100
    pollInterval = '30 sec'
}
